@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Climate+Crisis&family=Josefin+Sans:ital,wght@1,200&display=swap');
:root {
    --dark: #464747;
    --text: #993871;
    --shadow: rgb(114 4 68);
    --bg: rgb(76, 72, 82);
    --box: #201f1f;
    --white: #ffffff;
    --cont: #807676;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    display: grid;
    place-items: center;
    margin: auto;
    margin-bottom: 50px;
}
#name{
    text-shadow: 4px 4px var(--shadow); 
    font-size: 60px;   
    font-family: 'Anton', sans-serif;
}
#valinnat {
    margin-top: 40px;
    text-align: center;
}
#lisaa,
#lisaa2 {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 22px;
    font-family: 'Anton', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border-color: var(--text);
    cursor: pointer;
    margin-right: 40px;
}
#poista {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 22px;
    font-family: 'Anton', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border-color: var(--text);
    cursor: pointer;
}
#KUlos {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border-color: var(--text);
    cursor: pointer;
    margin-left: 70%;
    margin-top: 10px;
}
#content { 
    border-radius: 10px;
    text-align: center;
    padding: 25px 50px 25px 50px;  /*top,right,bottom,left*/
    display: grid;
    place-items: center;
}
button {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border-color: var(--box);
    cursor: pointer;
    margin-left: 10px; 
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: var(--dark);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    display: grid;
    place-items: center;
}
/* The Close Button - */
#sulje {
    background-color: var(--dark);
    border: none;
    color: var(--text);
    margin-left: 60%;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.sulje:hover,
.sulje:focus {
    color: #000;
    text-decoration: none;
}

.aanestysNimi {
    font-size: 20px;
    text-align: center;
}
#aanestys{
    margin-bottom: 20px;
}
#aanestysValinnat {
    font-size: 20px;
    text-align: center;
}
#lisaa2{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
    font-size: 20px;
}
@media screen and (max-width: 450px) {
	#name {
	  font-size: 45px; 
	}
    #KUlos {
        margin-left: 55%;
    }
    #KUlos {
        font-size: 12px;
    }
    .modal-content {
        width: 250px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}