@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Climate+Crisis&family=Josefin+Sans:ital,wght@1,200&display=swap');
:root{
    --dark: #464747;
    --text: #993871;
    --shadow: rgb(114 4 68);
    --bg: rgb(109, 99, 119);
    --box: #201f1f;
    --white: #ffffff;
    --cont: #807676;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(84, 80, 88);
    display: grid;
    place-items: center;
    height: 100vh;
    margin-bottom: 250px;
}
h1{
    text-shadow: 4px 4px var(--shadow); 
    font-size: 60px;   
    font-family: 'Anton', sans-serif;
    margin-top: 0px;
}
p{
    text-align: center;
}
#imageFlowers {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
#kirjaudu {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 18px;
    border-color: var(--text);
    cursor: pointer;
    margin-left: 80%;
    margin-top: 10px;
}
#content {
    border-radius: 10px;
    text-align: center;
    padding: 25px 50px 25px 50px;  /*top,right,bottom,left*/
    display: grid;
    place-items: center;
}
button {
    cursor: pointer;
    text-align: center;
    background: var(--box);
    color: var(--text);
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    border-color: var(--box);
    cursor: pointer;
    margin-left: 10px; 
}
@media screen and (max-width: 450px) {
    .container {
        width: 250px;
        text-align: center;
        font-size: 15px;
    }
    #kirjaudu{
        margin-right: 35px;
    }
    h1{
        margin-top: -10px;
        font-size: 35px;
    }
}
